<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>pdf buddy</title>
</head>
<body bgcolor="#b8bdc4">
<div align="center">
<h1> PDF BUDDY</h1>
    <br> <br>

    <form action="/success" method="POST" enctype="multipart/form-data">
        Start Page: <br>
        <input type="text" name="start" required> <br><br>
        End Page: <br>
        <input type="text" name="end" required> <br><br>
        Choose a file: <br>
        <input type="file" name="file" required> <br><br>
        <input type="submit" value="Upload"> <br><br>


    </form>
  </div>
<footer>
    <p>Build with &#10084;&#65039; by Dalton</p>
</footer>
</body>
</html>